@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table">
        <tr>
            <td>First col</td>
            <td>second col</td>
        </tr>
        <tr>
            <td>First col</td>
            <td>second col</td>
        </tr>
    </table>
</div>
<div>
    <button>click here</button>

</div>