<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Test Website</title>
</head>
<body>
    <h1>TestWebsite</h1>
    <ul>
        <li>
            <a href="../index">Home</a>
        </li>
        <li>
            <a href="/Home/contact">Contact</a>
        </li>
        <li>
            <a href="/Home/about">About</a>
        </li>
        <li>
            <a href="/Home/profile">Profile</a>
        </li>
    </ul>
        @RenderBody()
    
</body>
</html>
