<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Test Website</title>
</head>
<body>
    <h1>TestWebsite</h1>
        @RenderBody()
    
</body>
</html>
