<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HTML</title>
    <meta name="keywords" content="irfan,nass technologies" />
    <meta name="description" content="this website is created for tutorial" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HTML.styles.css" asp-append-version="true" />
    @RenderSection("Head",false)
    <style>
       /* tbody, td, tfoot, th, thead, tr {
            border-color: red;
            border-style: solid;
            border-width: 0;
        }*/
        </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">HTML</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="div1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <section>
        <div class="container">
            <h2>I am in a section</h2>
</div>
    </section>
    <div class="container">
        <h2>IFrame</h2>
        <iframe src="https://nassmedia.co/" width="200" height="200"></iframe>
    </div>
    <div class="container">
        <h2>Form elements</h2>
        <form enctype="multipart/form-data">
            <input type="number" placeholder="2023" title="Enter year" />
            <input type="email" placeholder="a@a.com" title="Enter email" />
            <input type="password" title="Enter password" />
            <input type="date" >
            <input type="datetime-local" />
            <textarea rows="4" style="width:100%"></textarea>
            <input type="file" />
            <input type="file" multiple/>
            <input type="button" value="Submit input button"/> &nbsp;
            <button type="submit">Submit button</button>
            <select>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
            <label><input type="radio" name="gender" /> Male</label>
            <label><input type="radio" name="gender" /> Female</label>

            <label><input type="checkbox" /> Are you eligible?</label>
            <br />
            <img src="~/Images/login.png" height="100px" />
            
            <img src="https://png.pngtree.com/png-vector/20191003/ourmid/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1786166.jpg" height="100px" alt="Login Image" />
        </form>
    </div>



    <div class="container">
        <h1>Definations</h1>
        <dl>
            <dt>Coffee</dt>
            <dd>- black hot drink</dd>
            <dt>Milk</dt>
            <dd>- white cold drink</dd>
        </dl>
    </div>
    <div class="container">
        <strong>This is a code</strong>
        <code>int i = 20;</code>
    </div>
    <div class="container">
        <strong>the short cut for formating the .net cshtml document is </strong>
        <kbd>ctrl+k ctrl+f</kbd>

    </div>
    <div class="container">
        <pre>
            Text         in a pre element   
            is displayed in a fixed-width
            font, and it preserves
            both      spaces and
            line breaks.
           
        </pre>
    </div>
    <div class="container">
        <a href="https://www.google.com/" target="_blank">Go to google</a>
        <a href="~/favicon.ico">Icon</a>
        <a href="#div1">Go to top</a>
        <a href="/Privacy">Privacy</a>
        <a href="/Index">Home</a>
    </div>
  

    <div class="container">
        <h2>Ordered List</h2>
        <ol>
            <li>Laptop</li>
            <li>Mobile</li>
            <li>TV</li>
            <li>Microphone</li>
        </ol>
    </div>
    <div class="container">
        <h2>Unordered List</h2>
        <ul>
            <li>Laptop</li>
            <li>TV</li>
            <li>Microwave Oven</li>
            <li>Washing Machine</li>
        </ul>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HTML - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>