@{
    ViewData["Title"] = "Privacy Policy";
    var model = new BannerPartialViewModel{
        Name = "Irfan",
        Age = 40,
        Address = "Nagpur",
        Mobile="3453453"
    };
}
<h1>@ViewData["Title"]</h1>
<h2>Privacy Policy 2</h2>
<p>Use this page to detail your site's privacy policy.</p>
<partial name="_BannerPartial" model="model" />