@model BannerPartialViewModel
<div style="background-color:lightcoral; width:400px; height:200px; text-align:center; align-content:baseline">

    <h3>Banner</h3>
    <p>Name: @Model.Name</p>
    <p>Mobile: @Model.Mobile</p>
    <p>Age: @Model.Age</p>
    <p>Address: @Model.Address</p>
</div>