@model LoginViewModel
@{

}
<form method="post" asp-action="Login" asp-controller="Account">
    <input asp-for="ReturnUrl" hidden />
    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input class="form-control" asp-for="UserName">
        <span class="text-danger" asp-validation-for="UserName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input class="form-control" asp-for="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Remember" class="form-label"></label>
        <input asp-for="Remember">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="text-danger" asp-validation-summary="All"></div>
</form>
