@model PasswordResetViewModel



<form method="post">
    <input asp-for="Token" hidden />
    <input asp-for="UserId" hidden />
    <input asp-for="Password" />
    <button type="submit">Reset Password</button>
</form>