@model RegisterViewModel
@{
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input class="form-control" asp-for="Username">
        <span class="text-danger" asp-validation-for="Username"></span>
    </div>
   <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input class="form-control" asp-for="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
