@page
@using MainProject.Models
@using Services
@model MainProject.Pages.Home.AboutModel
@inject NewTestClass testFE

@inject IRollList rollList
@{
}
<h1>About Page</h1>
<h1>We have total @rollList.GetCount() students</h1>
<input asp