@page
@using Services
@model MainProject.Pages.RollList.RollListModel
@inject IRollList rollList
@{
}

<form method="post">
    <label asp-for="RollNo">Roll No</label>
    <input asp-for="RollNo" placeholder="enter no" />
    <button type="submit">Add</button>
</form>


@if(rollList.GetCount()>0)
{
    <ol>
        @foreach (var item in rollList.GetAll())
        {
            <li>@item</li>
        }
    </ol>
}
else
{
    <h2>No Record found</h2>
}